<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="/static/images/powerPlant.png" type="image/png">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Кіровоградська ТЕЦ</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/home">Головна</a>
    <a class="p-2 text-dark" href="/info">Інформація</a>
    <a class="p-2 text-dark" href="/reference">Довідка</a>
  </nav>
      <a class="btn btn-warning" href="/calculation">Розрахувати</a>
</div>

<div class="container pt-4 my-md-5 pt-md-5 border-top" style=" min-height: calc(87vh - 80px)">

{% block body %}

{% endblock %}

</div>


<footer class="container pt-4 my-md-5 pt-md-5 border-top" style=" height: 80px;  margin-top: -80px;">
    <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">

        <div class="col-6 col-md">
        <h5>Creators</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">Alex Uvarovskii</li>
          <li class="text-muted">Max Zastupailo</li>
        </ul>
      </div>
<div class="col-12 col-md">

        <small class="d-block mb-3 text-muted">©2020</small>
      </div>
    </div>
</footer>


</body>
</html>