{% extends 'base.html' %}

{% block title %}
Інформація про ТЕЦ
{% endblock %}


{% block body %}

<img style="margin-left: -15px" title="КП ТЕплоенергетик"" src="/static/images/unnamed.jpg">

    <div style="float: left; margin-left: 530px; margin-top: -348px">Сумарна встановлена потужність турбоагрегатів ТЕЦ складає <strong>15 МВт</strong><br>
    Cумарна теплова потужність енергетичних котлів — <strong>140 Гкал/год</strong> (200 т/год)<br>
        водогрійних котлів — <strong>100 Гкал/год</strong> <br>
        Сумарна потужність трансформаторів зв'язку з енергосистемою - <strong>20000 кВА</strong>
    </div>
    <p><br></p>
    <div style="margin-left: 530px; margin-top: -250px">
        <h5>До основного обладнання ТЕЦ відносяться:</h5>
        <ul>
            <li>Kотлоагрегати <b>ГМ-50-1</b> та <b>ТП-35/50</b> відповідно з максимальною паровою продуктивністю по 50 т/год кожен</li>
            <li>Tурбоагрегати:
                <b>ПР-6 35/10/1,2</b> з генератором <b>Т-2-6-2</b> номінальною потужністю <b>6 МВт</b>
                з протитиском та регульованим відбором пари о <b>АТ-6</b> в кількості двох штук з генераторами
                <b>Т-2-6-2</b> номінальною потужністю <b>4,5 МВт</b> кожен з двома регульованими
                та двома нерегульованими відборами пари.</li>
        </ul>
        <h4>Основне паливо — природний газ, резервне паливо - мазут</h4>

    </div>
</div>

{% endblock %}



