{% extends 'base.html' %}

{% block title %}
Інформація про величини
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div>
        <p class="h2">Довідка:</p>
        <ul style=" list-style-type: none; line-height: 2.7">
          <li>k - показник емісії, г/ГДж.</li>
          <li>Q<sup>r</sup><sub>i</sub> - нижча робоча теплота згоряння палива, МДж/кг.</li>
          <li>B<sub>i</sub> - витрати палива за проміжок часу.</li>
          <li>A<sup>r</sup> - масовий вміст золи в паливі на робочу масу, %.</li>
          <li>a<sub>вин</sub> - частка золи, яка виходить з котла у вигляді леткої золи.</li>
          <li>n<sub>зу</sub> - ефективність золоуловлюваної установки.</li>
          <li>Г<sub>вин</sub> - масовий вміст горючих речовин у викидах твердих частинок, %.</li>
          <li>k<sub>твS</sub> - показник емісії твердих продуктів взаємодії сорбенту та оксидів сірки і твердих
частинок сорбенту, г/ГДж.</li>
          <li style="font-style: italic;">B - коефіцієнт роботи очисної установки</li>
          <li>n<sub>I</sub> - ефективність первинних заходів</li>
          <li>n<sub>II</sub> - ефективність вторинних заходів</li>
          <li>S<sup>r</sup> - вміст сірки в паливі на робочу масу за проміжок часу.</li>
          <li style="font-style: italic; ">f<sub>н</sub> - ступінь зменшення викиду NOx під час роботи на низькому навантаженні.</li>
          <li>c<sub>вм</sub> - масовий вміст важкого металу у паливі, мг/кг.</li>
          <li style="font-style: italic; ">f<sub>зб</sub> - коефіцієнт збагачення важкого металу.</li>
          <li>n<sub>гзу</sub> - ефективність уловлення газоподібної фракції важкого металу в золоуловлювальній установці.</li>
          <li style="font-style: italic; ">f<sub>г</sub> - частка важкого металу, яка виходить у газоподібній формі.</li>
          <li> C<sup>r</sup> - масовий вміст вуглецю в паливі на робочу масу, %.</li>
          <li>e<sub>c</sub> - ступінь окислення вуглецю палива.</li>
            </ul>
    </div>
</div>
{% endblock %}


